<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %} {% endblock %}
    </title>

</head>
<body>
    <h1 style="background-color: darkolivegreen; color: aliceblue; text-align: center;">Píldoras Informáticas</h1>
    {% include "header_footer/barra_navegacion.html" %}
    <h3>Cursos de programación</h3>
    {% block content %} {% endblock %}
    <p style="background-color: darkolivegreen; color: aliceblue; text-align: center;">Cursos gratuitos</p>
</body>
</html>